# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# Certificates
/src/certs/

# DS Store
.DS_Store

# Local stored passes
*.pkpass

# Service Account
serviceAccount.json